/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.orange{
    color: rgb(194, 87, 48);
}
.btn-primary{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
   font-size: 20px;
   font-weight: 700;
   color: aliceblue;
   padding: 15px 35px;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
display: flex;
align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #181818;
}
/* header related styles */
.header{
    background-color: bisque;
}
.bannar{
    padding: 30px 30px 30px 150px;
    display: flex;
  
}
.bannar .profile-pic{
    width: 500px;
}